<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org">
<head>
	<title>My Account | Lot Sale | Motion Fashion</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	
	<script src="https://code.jquery.com/jquery-git.js"></script>
	
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/themes/smoothness/jquery-ui.css" />
	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/jquery-ui.min.js"></script>
	
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-ChfqqxuZUCnJSK3MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"/>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	
	<link rel="stylesheet" type="text/css" th:href="@{/css/footerStyle.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/css/headerStyle.css}"/>
	
</head>
<body>
	
	<div class="container">
	<div th:include="admin-header :: copy"></div>
	<hr style="border: 2px solid grey;">
	
	<h3 style="color:grey">Your Account</h3>	
	
	<hr style="border: 2px solid grey;">
		
		<div class="row">
			<div class="col-md-6 col-sm-6">
				<div class="col-sm-4">
					 <div class="thumbnail">
				      <a href="/admin/orders/list">
				        <img src="/images/f.jpg" alt="Lights" style="height: 80px">
				      </a>
				    </div>
				</div>
				
				<div class="col-sm-8">
					<h4>My Orders</h4>
					<p>See your order history and invoices</p>
				</div>
			</div>
			
			<div class="col-md-6 col-sm-6">
				<div class="col-sm-4">
				<!-- <div th:each="usr: ${users}"> -->
					 <div class="thumbnail">
				      <a th:href="@{/admin/account/edit/general/info/__${users.user_id}__}">
				        <img src="/images/b.png" alt="Lights" style="height: 100px">
				      </a>
				    <!-- </div> -->
				    </div>
				</div>
				
				<div class="col-sm-8">
					<h4>Edit My General Info</h4>
					<p>Edit general and login details</p>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-6 col-sm-6">
					<div class="col-sm-4">
						 <div class="thumbnail">
					      <a th:href="@{/admin/account/addresses/__${users.user_id}__}">
					        <img src="/images/c.png" alt="Lights" style="height: 100px">
					      </a>
					    </div>
					</div>
					
					<div class="col-sm-8">
						<h4>My Addresses</h4>
						<p>Edit Shipping and Billing Addresses</p>
					</div>
				</div>
			
			<div class="col-md-6 col-sm-6">
				<div class="col-sm-4">
					 <div class="thumbnail">
				      <a href="/w3images/lights.jpg">
				        <img src="/images/d.png" alt="Lights" style="height: 100px">
				      </a>
				    </div>
				</div>
				
				<div class="col-sm-8">
					<h4>Payment Options</h4>
					<p>Edit or add payment method</p>
				</div>
			</div>
		</div>
	
		<hr style="border: 2px solid grey;">
		
		<!-- *************************************************************************Bellow contents are only for ADMIN****************************************** -->
		<div>
		<h3 style="color:grey">Administrator View</h3>
		<hr style="border: 2px solid grey;">
		
			<div class="row">
			<div class="col-md-6 col-sm-6">
				<div class="col-sm-4">
					 <div class="thumbnail">
				      <a href="/admin/lot/list">
				        <img src="/images/g.png" alt="Lights" style="height: 80px">
				      </a>
				    </div>
				</div>
				
				<div class="col-sm-8">
					<h4>Lot Management</h4>
					<p>Create new lot, update and see lot list</p>
				</div>
			</div>
			
			<div class="col-md-6 col-sm-6">
				<div class="col-sm-4">
					 <div class="thumbnail">
				      <a href="/admin/account/all/list">
				        <img src="/images/b.png" alt="Lights" style="height: 100px">
				      </a>
				    </div>
				</div>
				
				<div class="col-sm-8">
					<h4>User & Staff</h4>
					<p>Edit, create new users & assign the roles</p>
				</div>
			</div>
		</div>
		
		
		<div class="row">
			<div class="col-md-6 col-sm-6">
				<div class="col-sm-4">
					 <div class="thumbnail">
				      <a href="/admin/product/list">
				        <img src="/images/cat.png" alt="Lights" style="height: 80px">
				      </a>
				    </div>
				</div>
				
				<div class="col-sm-8">
					<h4>Product Catalog</h4>
					<p>Create, edit, delete product and show the list</p>
				</div>
			</div>
		
			
			
			<div class="col-md-6 col-sm-6">
				<div class="col-sm-4">
					 <div class="thumbnail">
				      <a href="/admin/account/paid/invoices">
				        <img src="/images/e.jpg" alt="Lights" style="height: 80px">
				      </a>
				    </div>
				</div>
				
				<div class="col-sm-8">
					<h4>Payment & Invoices</h4>
					<p>See the paid & Unpaid invoices</p>
				</div>
			</div>
						
		</div>
		
			<div class="row">
			<div class="col-md-6 col-sm-6">
				<div class="col-sm-4">
					 <div class="thumbnail">
				      <a th:href="@{/admin/order/info}">
				        <img src="/images/f.jpg" alt="Lights" style="height: 80px">
				      </a>
				    </div>
				</div>
				
				<div class="col-sm-8">
					<h4>Orders</h4>
					<p>See the customer's order list</p>
				</div>
			</div>
			
			<div class="col-md-6 col-sm-6">
				<div class="col-sm-4">
					 <div class="thumbnail">
				      <a th:href="@{/admin/slider/image/list}">
				        <img src="/images/sll.png" alt="Lights" style="height: 80px">
				      </a>
				    </div>
				</div>
				
				<div class="col-sm-8">
					<h4>Manage Slider</h4>
					<p>Upload and update slider images</p>
				</div>
			</div>
			
		</div>
		
		<!-- *************************************************************************************** -->
		<hr style="border: 2px solid grey;">
		<br>
		<br>
		<hr>
	</div> <!-- end of the container --> 
	
	
	<div th:include="admin-footer :: copy"></div>
	
</body>
</html>