<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Lot Sale | B2B Motion Fashion | Lot List</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	
	<script src="https://code.jquery.com/jquery-git.js"></script>
	
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/themes/smoothness/jquery-ui.css" />
	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/jquery-ui.min.js"></script>
	
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-ChfqqxuZUCnJSK3MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	
	<!-- ********************************************************** pagination***************************************************** -->
<!-- 	<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.15/css/jquery.dataTables.css"> -->
	<!-- ********************************************************** pagination***************************************************** -->
	
	<link rel="stylesheet" type="text/css" th:href="@{/css/countryStyle.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/footerStyle.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/headerStyle.css}">

	<style>
	      .nav-tabs>li.active>a, .nav-tabs>li.active>a:hover{
          border-top: 4px solid #CBD6D5;
    }
	
		.ui-icon, .ui-widget-content .ui-icon 
		{
		background-image: none;
		}
		
		div#body1 {
	        background-color: white; !important;
	        }
	      
	      #tdBackground{
	      	
	      	background-color: white;
	      }
	      
	       /* ********************************pagination********************** */
	    a.nav-link.active {
		    background: #337ab7b0;
		}
		
		.nav-pills>li {
		    float: left;
		    background: #0000ff29;
		}
		</style>
	
	
</head>


<body style="background-color: #f7f7f7!important; padding-top: 20px;">

<!-- ********************************************************** pagination***************************************************** -->
<!-- 	 <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	 <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.15/js/jquery.dataTables.js"></script>
	 <script src="https://cdn.datatables.net/plug-ins/1.10.15/api/row().show().js"></script>
	    
	
	<script>
	$(document).ready( function () {
	    $('#table_id').DataTable();
	} );
	</script> -->
	<!-- ********************************************************** pagination***************************************************** -->
	
	<div th:include="admin-header :: copy"></div>
	<!-- <div th:include="filter :: copy"></div> -->
	<div class="container" id="body1"> 
	<hr>
			<h3 style="color: grey;">CAROUSEL IMAGE LIST</h3>
		<hr>
    
    <ul class="nav nav-tabs">
		     <!--  <li><a href="/admin/upload/slider/images">Upload Images</a></li> -->
		     
		      <li class="active"><a href="/admin/slider/image/list">Carousel Image Table</a></li>
		      
		       <li><a href="/admin/test/slider/images">Test Carousel</a></li>
		     
		</ul>
		
		<hr>
    
	
          
      <div class="row">
        <div class="col-md-12  col-sm-6">
       <table class="table table-bordered" id="table_id">
            <thead>
              <tr>
              	
               <th>ID</th>
                <th>Image 1</th>
                <th>Image 2</th>
               
                <th>Image 3</th>
                
               
                <th>Action</th>
              </tr>

            </thead>
            
            <tbody id="tdBackground">
				     
			<tr th:each="sld:${slider}">
				
               <td th:text="${sld.id}"></td>
              <td><img th:src="@{'data:image/jpg;base64,'+${sld.image1}}" width="100" height="40" class="image"></td>
              <td><img th:src="@{'data:image/jpg;base64,'+${sld.image2}}" width="100" height="40" class="image"></td>
              <td><img th:src="@{'data:image/jpg;base64,'+${sld.image3}}" width="100" height="40" class="image"></td>
              
                
                <td>
                	<!-- <a th:href="@{/admin/test/slider/images}" class="w3-button w3-green" style="color:red;">Delete</a> -->
                   <a th:href="@{/admin/slider/delete/__${sld.id}__}" class="w3-button w3-green"><strong style="color:red; text-align:center;">Delete</strong></a> 
                
                </td>
              </tr>
			</tbody>
			
        </table>
 
 	<hr style="border:2px solid grey;">
 		<h4 style="color:blue; text-align:center;"><span style="color:red;">IMPORTANT !!</span> TO CHANGE CAROUSEL IMAGES; PLEASE <span style="color:red;">DELETE</span> THE CAROUSEL TABLE FIRST!!</h4>
 	<hr style="border:2px solid grey;">
 	
 	
 	<!-- <a th:href="@{/admin/upload/slider/images}"><h3 style="color:green; text-align:center;">Upload Carousel Images Here!</h3></a>	
 	<hr> -->
      </div>
      </div>
      </div>
      <br>
      <br>
      <div th:include="admin-footer :: copy"></div>
      
      <script>$( "th" ).resizable();</script>
  </body>
  </html>
