@charset "UTF-8";

div#header {
    margin-top: 10px;
}

img.wholeSaleLogo {
    height: 60px;
    width: 130px;
}

img.mainLogo {
    height: 60px;
    width: 300px;
    float: right;
    margin-right: 50px;
}

.logoutdesc{
	float: right
}

#glyph{
	color: red;
}