<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Welcome to Motion Fashion B2B Network</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet"/>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://code.jquery.com/jquery-git.js"></script>
	
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-ChfqqxuZUCnJSK3MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	
  	
	<link rel="stylesheet" type="text/css" th:href="@{/css/welcomePage.css}"/>
	

</head>
<body style="background-repeat: no-repeat;
				background-position: center center;
				background-attachment: fixed;
				background-size: cover;">


	<div class="container">
		<div class="jumbotron">
		<h1 id="message" style="color: black;">Welcome to <br>B2B Motion Fashion Network</h1>
		
		</div>
		<h3 class="message2">Please select the market you are interested in</h3>

		<br>
		<br>
		<br>
		<div class="col-md-12">
		<div class="row">
			<div class="col-md-4">
			<div class="col-sm-12">
			<a href="http://b2b.motion-e-commerce.de">
				<label class="image-radio"><strong style="font-size: 25px; color: black;"> Großhandel</strong> <br><br>
					<img src="/images/new-images/wholesale-icon.png" class="img-responsive" alt="Avatar" style="width:250px;">
				</label>
			</a>
			</div>
		</div>
		
		<div class="col-md-4">
		<div class="col-sm-12">
			<a href="http://flashsale.motion-fashion.de">
				<label class="image-radio"><strong style="font-size: 25px; color: black;"> Flashsale</strong> <br><br>
				<img src="/images/new-images/flashsale-icon-schwarz.png" class="img-responsive" alt="Avatar" style="width:250px;">
				</label>
			</a>
			</div>
		</div>
		
		<div class="col-md-4">
		<div class="col-sm-12">
			<a href="http://stocklots.motion-fashion.de">
				<label class="image-radio"><strong style="font-size: 25px; color: black;"> Stocklots</strong> <br><br>
					<img src="/images/new-images/stocklots-icon.png" class="img-responsive" alt="Avatar" style="width:250px;">
				</label>
			</a>
			</div>
		</div>

	</div>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	
	
	</div>
	<br>
	<br>
	<br>

	<h1 style="text-align:center; color: grey;">SMART PEOPLE, <span style="color:black;">SMART CHOICE.</span></h1>
	<hr>
	</div>
	
</body>
</html>