<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>B2B | Motion Fashion | Wiederruf</title>
</head>
<body style="padding-left: 10px;padding-right: 10px;">
<div class="container">

<hr>
<strong>Widerrufsrecht</strong><br>
		
			
			
				Sie haben das Recht, binnen sechzig (60) Tagen ohne Angabe von Gründen diesen Vertrag zu widerrufen.
				Die Widerrufsfrist beträgt sechzig (60) Tage ab dem Tag, an dem Sie oder ein von Ihnen benannter Dritter, der nicht der Beförderer ist, die Waren in Besitz genommen haben bzw. hat.
				Um Ihr Widerrufsrecht auszuüben, müssen Sie uns, der MOTION E-Commerce GmbH, Osterfeldstr. 12-14, 22529 Hamburg, Tel: 0049 40 55 2 88 0, Email: info@motion-fashion.de , mittels einer eindeutigen Erklärung (z. B. ein mit der Post
				versandter Brief oder E-Mail) über Ihren Entschluss, diesen Vertrag zu widerrufen, informieren. Sie können dafür das beigefügte Muster-Widerrufsformular verwenden, das jedoch nicht vorgeschrieben ist.
				Zur Wahrung der Widerrufsfrist reicht es aus, dass Sie die Mitteilung über die Ausübung des Widerrufsrechts vor Ablauf der Widerrufsfrist absenden.<br>
				 
				<br><strong>Folgen des Widerrufs</strong><br>
				Wenn Sie diesen Vertrag widerrufen, haben wir Ihnen alle Zahlungen, die wir von Ihnen erhalten haben, einschließlich der Lieferkosten (mit Ausnahme der zusätzlichen Kosten, die sich daraus ergeben, dass Sie eine andere Art der Lieferung als die von uns angebotene, günstigste Standardlieferung gewählt haben), unverzüglich und spätestens binnen sechzig (60) Tagen ab dem Tag zurückzuzahlen, an dem die Mitteilung über Ihren Widerruf dieses
				Vertrags bei uns eingegangen ist. Für diese Rückzahlung verwenden wir dasselbe Zahlungsmittel, das Sie bei der ursprünglichen Transaktion eingesetzt haben, es sei denn, mit Ihnen wurde ausdrücklich etwas anderes vereinbart; in keinem Fall werden Ihnen wegen dieser Rückzahlung Entgelte berechnet.
				Wir können die Rückzahlung verweigern, bis wir die Waren wieder zurückerhalten haben oder bis Sie den Nachweis erbracht haben, dass Sie die Waren zurückgesandt haben, je nachdem, welches der frühere Zeitpunkt ist.
				Sie haben die Waren unverzüglich und in jedem Fall spätestens binnen sechzig (60) Tagen ab dem Tag, an dem Sie uns über den Widerruf dieses Vertrags unterrichten, zurückzusenden oder zu übergeben. Versenden Sie die Retoure per DHL ist die Rücksendeadresse: Motion E-Commerce GmbH, Hamburger Ring 900, D-01665 Klipphausen, für jedes andere Transportunternehmen, nehmen Sie bitte als Rücksendeadesse:  Motion E-Commerce GmbH, Osterfeldstr. 12-14, 22529 Hamburg.  Die Frist ist gewahrt, wenn Sie die Waren vor Ablauf der Frist von sechzig (60) Tagen absenden.
				Sie tragen die unmittelbaren Kosten der Rücksendung der Waren. Sie müssen für einen etwaigen Wertverlust der Waren nur aufkommen, wenn dieser Wertverlust auf einen
				zur Prüfung der Beschaffenheit, Eigenschaften und Funktionsweise der Waren nicht notwendigen Umgang mit ihnen zurückzuführen ist.
				 
				<strong><br>Retourenadresse<br>
				Für DHL Pakete gilt:<br><br>
				Motion E-Commerce GmbH<br>
				Hamburger Ring 900<br>
				D-01665 Klipphausen<br>
				Für jedes andere Transportunternehmen gilt:<br>
				Motion E-Commerce GmbH<br>
				Osterfeldstr. 12-14<br>
				22529 Hamburg<br>
				</strong>
				
				 
				<br><strong>Muster-Widerrufsformular</strong><br>
				(Wenn Sie den Vertrag widerrufen wollen, dann füllen Sie bitte dieses Formular aus und senden Sie es zurück.)<br><br>
				–
				 
				 
				<br>An<br>
				MOTION E-Commece GmbH,<br>
				Osterfeldstr. 12-14<br>
				22529 Hamburg<br>
				 
				 
				<br>–<br>
				 
				 
				<br>Hiermit widerrufe(n) ich/wir (*) _________________________________________<br>
				 
				den von mir/uns (*) abgeschlossenen Vertrag über den Kauf der folgenden
				Waren<br>
				 
				 
				 
				 
				 
				 
				 
				 
				 
				Bestellt am (*)/erhalten am (*) _________________________________________<br>
				 
				Bestellnummer _____________________________________________________<br>
				 
				Name des/der Verbraucher(s) _________________________________________<br>
				 
				Anschrift des/der Verbraucher(s) _______________________________________<br>
				 
				Unterschrift des/der Verbraucher(s) (nur bei Mitteilung auf Papier)<br>
				 
				<br>______________________________
				<br> 
				<br>Datum<br>
				(*) Unzutreffendes streichen<br>
				<br>
				<hr>
				<br>
</div>
</body>
</html>